%h1 Listing cars

%table
  %thead
    %tr
      %th Image
      %th Place
      %th Rating points
      %th Rating count
      %th User
      %th
      %th
      %th

  %tbody
    - @cars.each do |car|
      %tr
        %td= car.image
        %td= car.place
        %td= car.rating_points
        %td= car.rating_count
        %td= car.user
        %td= link_to 'Show', car
        %td= link_to 'Edit', edit_car_path(car)
        %td= link_to 'Destroy', car, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Car', new_car_path
